/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
  
  mat-form-field{
    width: 100%;
    margin: 20px 0;
  }
  mat-card {
    margin: 20px;
  }
  mat-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  mat-card-content{
    text-align: start;
  }
  .mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background-color: #50C878;
  }
  .headers{
    opacity: 0.5;
  }